body {
    background-color: rgb(75, 107, 250);
    text-align: center;
}

.inicial{
    position: absolute;
    top: 150px;
    right: 280px;
    font-size: 20px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(255, 255, 255);
}

.floresta{
    position: absolute;
    top: 150px;
    right: 1300px;
    font-size: 20px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(255, 255, 255);
}

.caverna {
    position: absolute;
    top: 150px;
    right: 900px;
    font-size: 20px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(255, 255, 255); 
}

.acampamento {
    position: absolute;
    top: 490px;
    right: 780px;
    left: 90px;
    font-size: 20px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(255, 255, 255); 
}

.laboratorio {
    position: absolute;
    top: 490px;
    right: 500px;
    left: 1200px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(255, 255, 255); 
}
.travessia {
    position: absolute;
    top: 500px;
    right: 800px;
    font-size: 20px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(255, 255, 255); 
}